@use "../../styles//variables" as *;
.navbar-container {
  background-color: $secondary-color;
  color: $background-color-dark;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6;
  transition: all 1s ease;
  overflow: hidden;

  .navbar-wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 2rem;
      }

      .link-container {
        display: flex;
        align-items: center;
        margin-right: 2.5rem;
        @media only screen and (max-width: $tablet-breakpoint) {
          display: none;
        }
      }
    }
    .navbar-right {
      .hamburger {
        width: 4rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $background-color-dark;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    background-color: $background-color-dark;
    color: $text-color-white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
